<!DOCTYPE html>
<html>
<body>
    <h3>Blogs</h3>

    <div>
        <%= link_to 'Create Blog', new_post_path %>
    </div>
    <br>

    <table border="2">
        <thead>
            <tr>
                <th>Title</th>
                <th>Published?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
            <tr>
                <td>
                    <%= post.post_title %>
                </td>
                <td>
                    <%= post.is_published %>
                </td>
                <td>
                    <%= link_to 'View', post_path(post) %>
                    <%= link_to 'Edit', edit_post_path(post) %>
                    <%= link_to 'Delete', post_path(post), method: :delete %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</body>
</html>