<div class="container">
    <h3>View Blog</h3>
    <div>
        <label>Title</label>
        <%= @post.post_title %>
    </div>

    <div>
        <label>Date</label>
        <%= @post.post_date %>
    </div>

    <div>
        <label>User</label>
        <%= @user.first_name << @user.last_name %>
    </div>

    <div>
        <label>Published</label>
        <% if @post.is_published 
            print "1" 
            end %>
    </div>

    <div>
        <label>Description</label>
        <%= @post.post_description %>
    </div>

    <%= link_to 'Back', {controller: "posts", action: "index"} %>
</div>